{% load humanize %}{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-theme">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>Home</title>
</head>
<body>
    {% block content %}
    <div class="content">
        <div class="menu">
            <img src="{% static 'img/logo-techis.svg' %}" alt="">
            <h1>Home</h1>
            <div class="theme-toggle" onclick="theme_toggle()"><div id="theme-toggle-knob"></div></div>
        </div>
        <form class="post_form" action="post/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div class="grid-container-form">
                <div class="grid-item-user-image"><img src="{% static 'img/user.png' %}" alt=""></div>
                <div class="grid-item-form-name"><input name="name" type="text" placeholder="Name" required></div>
                <div class="grid-item-form-body"><textarea name="body" placeholder="Tell us anything" required></textarea></div>
                <div class="grid-item-form-file">
                    <label for="upload">Upload</label>
                    <input id="upload" name="image" type="file">
                </div>
                <div class="grid-item-form-file-name"><span id="file-name"></span></div>
                <div class="grid-item-form-submit"><input type="submit" value="Tweet"></div>
            </div>
        </form>
        <div class="ditch"></div>
        {% for post in posts %}
            <div class="grid-container-post">
                <div class="grid-item-user-image"><img src="{% static 'img/user.png' %}" alt=""></div>
                <div class="grid-item-post-name"><p>{{ post.name }}</p></div>
                <div class="grid-item-post-date"><p>{{ post.date|naturaltime }}</p></div>
                <div class="grid-item-post-options">
                    <div class="options-icon"><p onclick="menu_toggle('{{post.id}}')">•••</p></div>
                    <ul id="options-menu{{post.id}}">
                        <li><a href="/edit/{{ post.id }}/">Edit</a></li>
                        <li><a href="/delete/{{ post.id }}/">Delete</a></li>
                    </ul>
                </div>
                <div class="grid-item-post-body"><p>{{ post.body }}</p></div>
                {% if post.image != None %}
                    <div id="grid-item-post-image" onclick="window.open('{{ post.image.url }}', '_blank')" style="background: url('{{ post.image.url }}')"></div>
                {% endif %}
                <div class="grid-item-post-likes">
                    <div id="like-btn{{post.id}}" class="heart-icon" onclick="like('{{ post.id }}')"></div>
                    <span id="like-count{{post.id}}">{{post.like_count}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/posts.js' %}"></script>
    <script>
        let liked_posts = {{user_likes}};
        for(let i = 0; i < liked_posts.length; i++){
            document.getElementById("like-btn" + liked_posts[i]).classList.add("on");
        }
    </script>
    {% endblock content %}
</body>
</html>