* { margin: 0; padding: 0; border: 0;}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
}

/* logo block */

.menu {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.menu img {
    height: 50px;
}

.menu h1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    color: rgb(51, 51, 51);
}

/* input form block */

.post_form {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.grid-container-form {
    display: grid;
    grid-template-areas:
    'user-image form-name form-name form-name form-name form-name form-name form-name form-name form-name'
    '. form-body form-body form-body form-body form-body form-body form-body form-body form-body' 
    '. form-file form-file form-file form-file form-file form-file form-file form-file form-submit';
    gap: 10px;
    padding: 10px;
}

.grid-item-form-name {
    grid-area: form-name;
    display: flex;
    align-items: center;
}

.grid-item-form-name input {
    padding-left: 10px;
    height: 40px;
    border-radius: 4px;
    width: 100%;
    background-color: rgb(221, 248, 239);
}

.grid-item-form-body {
    grid-area: form-body;
}

.grid-item-form-body textarea {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100px - 20px);
    resize: none;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.grid-item-form-file {
    grid-area: form-file;
    position: relative;
}

.grid-item-form-file label {
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: 7px 10px;
    background-color:rgb(230, 230, 230);
    font-weight: bold;
    color: #212529;
}

.grid-item-form-file span {
    color: #565758;
    margin-left: 5px;
}

.grid-item-form-file input[type="file"] {
    display: none;
}

.grid-item-form-submit {
    grid-area: form-submit;
}

.grid-item-form-submit input {
    float: right;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 15px;
    color: rgb(250, 252, 253);
    background-color: rgb(73, 150, 223);
}

/* gap */

.ditch {
    width: 100%;
    height: 10px;
    background-color: rgb(247, 248, 248);
    border-bottom: 1px solid rgb(238, 238, 238);
}

/* post block */

.grid-container-post {
    display: grid;
    grid-template-areas:
    'user-image user-name post-date . . . . . . post-options'
    '. post-body post-body post-body post-body post-body post-body post-body post-body post-body' 
    '. post-image post-image post-image post-image post-image post-image post-image post-image post-image'
    '. post-likes . . . . . . . .';
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.grid-item-user-image {
    grid-area: user-image;
    text-align: center;
}

.grid-item-user-image img {
    max-width: 60px;
    height: auto;
    border-radius: 50%;
}

.grid-item-post-name {
    grid-area: user-name;
}

.grid-item-post-name p {
    padding-top: 5px;
    color: rgb(21, 32, 43);
    font-weight: bold;
    font-size: 17px;
}

.grid-item-post-date {
    grid-area: post-date;
}

.grid-item-post-date p {
    padding-top: 5px;
    color: rgb(71, 71, 71);
    padding-left: 10px;
    font-size: 14px;
}

.grid-item-post-options {
    grid-area: post-options;
    position: relative;
}

.options-icon {
    text-align: right;
    letter-spacing: 2px;
    color: rgb(112, 112, 112);
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.grid-item-post-options ul {
    display: none;
    /* display: none; change this in js */
    /* left: -100%; change this in js */
    /* top: -25%; change this in js */
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    list-style-type: none;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
    background-color: white;
    border: 1px solid rgb(202, 202, 202);

}

.grid-item-post-options ul li a {
    text-decoration: none;
    color: rgb(29, 161, 242);
}

.grid-item-post-options ul li a:hover {
    color: #0d6efd;
}

.grid-item-post-body {
    grid-area: post-body;
}

#grid-item-post-image {
    border-radius: 20px;
    grid-area: post-image;
    height: 300px;;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#grid-item-post-image:hover {
    cursor: pointer;
}

.grid-item-post-likes {
    padding-top: 10px;
    height: 40px;
    grid-area: post-likes;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.grid-item-post-likes span {
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
    font-weight: normal;
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.heart-icon {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
    display: inline-block;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    margin: 0 5px;
    width: 15px;
    height: 15px;
}

.on,
.on:before,
.on:after {
    background-color: red !important;
}
  
.heart-icon:before,
.heart-icon:after {
    content: "";
    background-color: rgb(202, 202, 202);
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
}
  
.heart-icon:before {
    top: -9px;
    left: 0;
}
  
.heart-icon:after {
    left: 9px;
    top: 0;
}

.pulse-anim {
    animation: pulse .5s ease 1;
}

@keyframes pulse {
    0% { transform: scale(1)    rotate(-45deg);}
    50% { transform: scale(1.3) rotate(-45deg);}
    100% { transform: scale(1)  rotate(-45deg);}
}

/* edit.html form */

.grid-container-form-edit {
    display: grid;
    grid-template-areas:
    'user-image form-name form-name form-name form-name form-name form-name form-name form-name form-name'
    '. form-body form-body form-body form-body form-body form-body form-body form-body form-body'
    '. post-image post-image post-image post-image post-image post-image post-image post-image post-image'
    '. form-file form-file form-file form-file form-file form-file form-file form-cancel form-submit';
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.grid-item-form-cancel {
    grid-area: form-cancel;
}

.grid-item-form-cancel input {
    float: right;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 15px;
    color: #212529;
    background-color: rgb(230, 230, 230);
}