* { 
    margin: 0; padding: 0; border: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
}

.light-theme {
    --theme-button: rgb(155, 203, 223);
    --theme-button-border: rgb(78, 142, 172);
    --theme-button-knob: rgb(243, 241, 109);
    --theme-button-know-border: rgb(248, 206, 89);
    --border: rgb(224, 224, 224);
    --user-name-input: rgb(221, 248, 239);
    --tweet-button: rgb(73, 150, 223);
    --tweet-button-text: rgb(250, 252, 253);
    --ditch: rgb(228, 228, 228);
    --text: rgb(51, 51, 51);
    --gray-text: rgb(71, 71, 71);
    --gray-button: rgb(207, 207, 207);
    --gray-button-text: #212529;
    --post-options: rgb(124, 124, 124);
    --heart-inactive: rgb(202, 177, 177);
    --bar: rgb(235, 235, 235);
    --card: rgb(243, 243, 243);
    --background: rgb(179, 179, 179);
}

.dark-theme {
    --theme-button: rgb(69, 91, 165);
    --theme-button-border: rgb(56, 65, 117);
    --theme-button-knob: rgb(235, 235, 235);
    --theme-button-know-border: rgb(189, 189, 189);
    --border: rgb(17, 17, 17);
    --user-name-input: rgb(221, 248, 239);
    --tweet-button: rgb(73, 150, 223);
    --tweet-button-text: rgb(250, 252, 253);
    --ditch: rgb(26, 26, 26);
    --text: rgb(214, 214, 214);
    --gray-text: rgb(128, 128, 128);
    --gray-button: rgb(230, 230, 230);
    --gray-button-text: #212529;
    --post-options: rgb(172, 172, 172);
    --heart-inactive: rgb(80, 58, 58);
    --bar: rgb(23, 25, 29);
    --card: rgb(33, 37, 43);
    --background: rgb(17, 19, 22);
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: var(--background);
}

h1, p {
    color: var(--text);
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

/* logo block */

.menu {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid var(--border);
    background-color: var(--bar);
}

.menu img {
    height: 50px;
}

.menu h1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    color: var(--text);
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

.theme-toggle {
    cursor: pointer;
    border: 2px solid var(--theme-button-border);
    border-radius: 15px;
    width: 40px;
    height: 20px;
    position: absolute;
    right: 20px;
    background-color: var(--theme-button);
}

.theme-toggle div {
    border-radius: 50%;
    border: 2px solid var(--theme-button-know-border);
    width: 16px;
    height: 16px;
    background-color: var(--theme-button-knob);
}

.theme-toggle-anim-dark {
    animation: go-dark .3s ease 1;
    animation-fill-mode: forwards;
}

@keyframes go-dark {
    0%   { transform: translate(0)}
    100% { transform: translate(100%)}
}

.theme-toggle-anim-light {
    animation: go-light .3s ease 1;
    animation-fill-mode: forwards;
}

@keyframes go-light {
    0%   { transform: translate(100%)}
    100% { transform: translate(0)}
}

/* input form block */

.post_form {
    border-bottom: 1px solid var(--border);
}

.grid-container-form {
    display: grid;
    grid-template-areas:
    'user-image form-name form-name form-name form-name form-name form-name form-name form-name form-name'
    '. form-body form-body form-body form-body form-body form-body form-body form-body form-body' 
    '. form-file form-file-name form-file-name form-file-name form-file-name form-file-name . . form-submit';
    gap: 10px;
    padding: 10px;
    background-color: var(--card);
}

.grid-item-form-name {
    grid-area: form-name;
    display: flex;
    align-items: center;
}

.grid-item-form-name input {
    padding-left: 10px;
    height: 40px;
    border-radius: 4px;
    width: 100%;
    background-color: var(--user-name-input);
    border-bottom: 1px solid var(--border);
}

.grid-item-form-body {
    grid-area: form-body;
}

.grid-item-form-body textarea {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100px - 20px);
    border-radius: 4px;
    resize: none;
    border-bottom: 1px solid var(--border);
}

.grid-item-form-file {
    grid-area: form-file;
    position: relative;
}

.grid-item-form-file label {
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: 7px 10px;
    background-color:var(--gray-button);
    font-weight: bold;
    color: var(--gray-button-text);
}

.grid-item-form-file-name {
    grid-area: form-file-name;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item-form-file-name span {
    color: var(--gray-text);
}

.grid-item-form-file input[type="file"] {
    display: none;
}

.grid-item-form-submit {
    grid-area: form-submit;
}

.grid-item-form-submit input {
    float: right;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 15px;
    color: var(--tweet-button-text);
    background-color: var(--tweet-button);
}

/* gap */

.ditch {
    width: 100%;
    height: 10px;
    background-color: var(--ditch);
    border-bottom: 1px solid var(--border);
}

/* post block */

.grid-container-post {
    display: grid;
    grid-template-areas:
    'user-image user-name post-date . . . . . . post-options'
    '. post-body post-body post-body post-body post-body post-body post-body post-body post-body' 
    '. post-image post-image post-image post-image post-image post-image post-image post-image post-image'
    '. post-likes . . . . . . . .';
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--border);
    background-color: var(--card);
}

.grid-item-user-image {
    grid-area: user-image;
    text-align: center;
}

.grid-item-user-image img {
    max-width: 60px;
    height: auto;
    border-radius: 50%;
}

.grid-item-post-name {
    grid-area: user-name;
}

.grid-item-post-name p {
    padding-top: 5px;
    color: var(--text);
    font-weight: bold;
    font-size: 17px;
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

.grid-item-post-date {
    grid-area: post-date;
}

.grid-item-post-date p {
    padding-top: 5px;
    color: var(--gray-text);
    padding-left: 10px;
    font-size: 14px;
}

.grid-item-post-options {
    grid-area: post-options;
    position: relative;
}

.options-icon {
    margin: 0 auto;
    padding: 10px 0;
    height: 8px;
    width: 25px;
    position: relative;
    float: right;
    cursor: pointer;
    z-index: 2;
}

.options-icon div {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--post-options);
    transition: all .2s ease-in-out;
}

.options-icon > :nth-child(1) {
    left: 0;
}

.options-icon > :nth-child(2) {
    left: calc(50% - 3px);
}

.options-icon > :nth-child(3) {
    right: 0;
}

.menu-anim > :nth-child(1) {
    border-radius: 3px;
    width: 22px;
    height: 5px;
    left: calc(50%);
    transform: translateX(-50%) rotate(135deg);
}

.menu-anim > :nth-child(2) {
    opacity: 0;
}

.menu-anim > :nth-child(3) {
    border-radius: 3px;
    width: 22px;
    height: 5px;
    right: calc(50%);
    transform: translateX(50%) rotate(225deg);
}

.grid-item-post-options ul {
    display: none;
    /* position: absolute;
    top: -6px;
    right: 30px; */
    list-style-type: none;
    z-index: 1;
    border: 1px solid var(--border);
}

.grid-item-post-options ul li {
    margin: 5px;
}

.grid-item-post-options ul li a {
    text-decoration: none;
    color: rgb(29, 161, 242);
}

.grid-item-post-body {
    grid-area: post-body;
}

.grid-item-post-body p {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#grid-item-post-image {
    border-radius: 20px;
    grid-area: post-image;
    height: 300px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#grid-item-post-image:hover {
    cursor: pointer;
}

.grid-item-post-likes {
    padding-top: 10px;
    height: 40px;
    grid-area: post-likes;
}

.grid-item-post-likes span {
    font-weight: normal;
    font-size: 20px;
    margin-left: 10px;
    color: var(--text);
}

.heart-icon {
    cursor: pointer;
    background-color: var(--heart-inactive);
    display: inline-block;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    margin: 0 5px;
    width: 15px;
    height: 15px;
}

.on,
.on:before,
.on:after {
    background-color: red !important;
}
  
.heart-icon:before,
.heart-icon:after {
    content: "";
    background-color: var(--heart-inactive);
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
}
  
.heart-icon:before {
    top: -9px;
    left: 0;
}
  
.heart-icon:after {
    left: 9px;
    top: 0;
}

.pulse-anim {
    animation: pulse .5s ease 1;
}

@keyframes pulse {
    0% { transform: scale(1)    rotate(-45deg);}
    50% { transform: scale(1.3) rotate(-45deg);}
    100% { transform: scale(1)  rotate(-45deg);}
}

/* edit.html form */

.grid-container-form-edit {
    display: grid;
    grid-template-areas:
    'user-image form-name form-name form-name form-name form-name form-name form-name form-name form-name'
    'form-body form-body form-body form-body form-body form-body form-body form-body form-body form-body'
    'post-image post-image post-image post-image post-image post-image post-image post-image post-image post-image'
    'form-file form-file-name form-file-name form-file-name form-file-name form-file-name . . form-cancel form-submit';
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--border);
    background-color: var(--card);
}

.grid-item-form-cancel {
    grid-area: form-cancel;
}

.grid-item-form-cancel input {
    float: right;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 15px;
    color: var(--gray-button-text);
    background-color: var(--gray-button);
}

/* mini screen */
@media screen and (max-width: 420px) {

    .grid-container-form {
        grid-template-areas:
        'user-image form-name form-name form-name form-name form-name form-name form-name form-name form-name'
        'form-body form-body form-body form-body form-body form-body form-body form-body form-body form-body' 
        'form-file form-file-name form-file-name form-file-name form-file-name form-file-name form-file-name . . form-submit';
    }

    .grid-item-user-image img {
        max-width: 50px;
        height: auto;
    }
    
    .grid-item-form-name input {
        font-size: 18px;
    }

    .grid-item-form-body textarea {
        font-size: 18px;
        height: calc(150px - 20px);
    }

    /* maybe */
    /* .grid-container-post {
        grid-template-areas:
        'user-image user-name post-date . . . . . . post-options'
        'post-body post-body post-body post-body post-body post-body post-body post-body post-body post-body' 
        'post-image post-image post-image post-image post-image post-image post-image post-image post-image post-image'
        'post-likes . . . . . . . . .';
    } */

    .grid-item-post-name p, .grid-item-post-body p {
        font-size: 18px;
    }

    #grid-item-post-image {
        height: 200px;
    }
}